<div>
<h3>Hello {{ fromEmail }} has send you the bellow message</h3>
<p>{{message}}</p>
<p>Visit school website<a target="_blank" href="{{schoolWebsite}}">{{ schoolName }}</a> </p>
<p>To kown more <a href="http://localhost/educationalPlatform/web/app_dev.php/">visit our school search</a> </p>
</div>