<div>
    <h3>Welcome {{ schoolName }}</h3>
    <p>A student has shown a particular interest about your University, and would like to pursue study in your University</p>
    <p>To kown more about the student or to find other potential student for your school <a href="http://localhost/educationalPlatform/web/app_dev.php/">visit our school search</a> </p>
</div>