<section class="callto-action-area section-gap" id="join">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content col-lg-9">
                <div class="title text-center">
                    <h1 class="mb-10 text-white">{{schoolName}} offer Job opportunities while studing and also financial Aid</h1>
                    <p class="text-white">{{schoolJob}}</p>
                    <a class="primary-btn" href="#">Know More</a>
                </div>
            </div>
        </div>	
    </div>	
</section>