<section class="feature-cat-area pt-100" id="category">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-10">
                <div class="title text-center">
                    <h1 class="mb-10">Features</h1>
                    <p>list of features</p>
                </div>
            </div>
        </div>						
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="single-fcat">
                    <p>Expose your profile to universities in the worldwide</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="single-fcat">
                    <p>Access Universities relevant contents</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="single-fcat">
                    <p>Contact and get in touch with universities of interest</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="single-fcat">
                     <p>Secure accommodation around university admission has been obtained</p>
                </div>
            </div>																			
        </div>
    </div>	
</section>