<section class="download-area section-gap" id="app">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 download-left">
                <img class="img-fluid" src="img/d1.png" alt="">
            </div>
            <div class="col-lg-6 download-right">
                <h2>Are you exicted to about the University
                 </h2>
                <p class="subs">
                   Desire to know more about 
                </p>
                <div class="d-flex flex-row">
                    <div class="buttons">
                        <i class="" aria-hidden="true"></i>
                        <div class="desc">
                            <a href="http://{{website}}" target="_blank">
                                <p>
                                    <span>Visit the University</span> <br>
                                    website
                                </p>
                            </a>
                        </div>
                    </div>
                  							
                </div>						
            </div>
        </div>
    </div>	
</section>